
<div #display></div>
<!-- phone -->
<div class="headerSearch animate__animated animate__fadeIn"  *ngIf="phone">

    <div class="d-flex justify-content-start align-items-center w-100 ml-10 mt-15 " (click)="goBack()">
        <span class="material-icons "  style="color: white;">arrow_back_ios</span>
        <span class="font fs-15 ml-10"  style="color: white;">Vouchers</span>

    </div>

    <div class="d-flex justify-content-center mt-20">
        <div style="width: 90%; position: relative;">
            <input type="text" class="form-control font " placeholder="Buscar en vouchers"   style="height: 50px;"    >
            <span class="material-icons" style="position: absolute; top: 30%; right: 9px; color: #48443c; opacity: 0.6; font-size: 2em;" >search</span>
        </div>
    </div>
</div>






