<div #display></div>

<div class="d-flex flex-column justify-content-center align-items-center animate__animated animate__fadeIn">



    <div class="d-flex justify-content-center position-relative"> 
        <img src="assets/levin.png" alt="" class="img-fluid mt-20"   style="width: 60%;">

        <div class="d-flex justify-content-center align-items-center" style="border-radius: 50%; border: 1px solid rgb(214, 214, 214); height: 30px; width: 30px; position: absolute; right: 20%; top: 25px; background-color: rgb(242, 242, 242, 0.45);" >
            <span class="material-icons" style="color: rgb(255, 170, 0); transform: scale(0.75);">edit</span>
        </div>
    </div>

    
    <div class="d-flex flex-column justify-content-center align-items-center rectangule mt-20 w-97">

        <span class="d-block w-100 text-start font fs-11 mt-10"> <b>Datos registrados</b> </span>
        <form [formGroup]="myForm" class="d-flex flex-column justify-content-start align-items-center pd-10 w-100 ">   

            <div class="row ">

                    <mat-form-field appearance="outline" class="mt-10 font fs-10 w-50 ">		
                    <mat-label> Nombre</mat-label>
                    <input matInput type="text" required formControlName="firstName" >
                    </mat-form-field> 
                    <mat-error *ngIf="validField ('firstName')" class="font fs-10">Campo requerido</mat-error> 
            
                    
                    <mat-form-field appearance="outline" class="mt-10 font fs-10 w-50">		
                    <mat-label>Apellido</mat-label>
                    <input matInput type="text" required formControlName="lastName" >
                    </mat-form-field> 
                    <mat-error *ngIf="validField ('lastName')" class="font fs-10">Campo requerido</mat-error> 
            </div>

                <mat-form-field appearance="outline" class="mt-10 font fs-10 w-100 ">		
                <mat-label> Razón social </mat-label>
                <input matInput type="text" required formControlName="company" style="font-family: 'poppins-light';" >
                </mat-form-field> 
                <mat-error *ngIf="validField ('company')" class="font fs-10">Campo requerido</mat-error> 
        
                
                <mat-form-field appearance="outline" class="mt-10 font fs-10 w-100">		
                <mat-label>Dirección</mat-label>
                <input matInput type="text" required formControlName="address" >
                </mat-form-field> 
                <mat-error *ngIf="validField ('address')" class="font fs-10">Campo requerido</mat-error> 

                <mat-form-field appearance="outline" class="mt-10 font fs-10 w-100">		
                    <mat-label>Ciudad</mat-label>
                    <input matInput type="text" required formControlName="city" >
                    </mat-form-field> 
                    <mat-error *ngIf="validField ('city')" class="font fs-10">Campo requerido</mat-error> 

                <mat-form-field appearance="outline" class="mt-10 font fs-10 w-100">		
                <mat-label>Teléfono</mat-label>
                <input matInput type="text" required formControlName="phone" >
                </mat-form-field> 
                <mat-error *ngIf="validField ('phone')" class="font fs-10">Campo requerido</mat-error> 

                <button type="button"  class="fs-11 mt-10 mb-20 saveBtn"> Guardar </button>
        </form>

    </div>    


    <div class="d-flex justify-content-around align-items-center mt-20 rectangule w-97" style="padding: 20px;" >

        <a target="_blank" (click)="openDialog()"> 
            <i class="fab fa-whatsapp" ></i>
        </a>

        <a target="_blank" title="Instagram" href="https://www.instagram.com/re.vi.mack_agro/?hl=es">
            <i class="fab fa-instagram ml-15"></i>
        </a>

        <a target="_blank" title="Facebook" href="https://www.facebook.com/search/top?q=revimack%20agro">
            <i class="fab fa-facebook-f ml-15"></i>
        </a>

        <a target="_blank" title="email" href="mailto:revimackventas@gmail.com">
        <i class="fa fa-envelope ml-15"></i>
        </a>

        <a target="_blank" title="gps" href="https://goo.gl/maps/4indGx9FR3M1qX5b6">
        <i class="fas fa-map-marker-alt ml-15"></i>
        </a>

        <button mat-fab class="ml-15"  style="width: 35px; height: 35px; background-color: #3370f5;" aria-label="Example icon button with a delete icon" routerLink="/auth/mi-tienda/mis-publicaciones" >
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <div class="d-flex justify-content-start align-items-center w-100 mt-10 mb-30">
        <span class="font fs-10 ">*Editá tus medios de comunicación </span> 
    </div>





</div>