
<div #display></div>

<div class="d-flex flex-column" style="width: 97%;">
    <div class="d-flex justify-content-center mt-30">
        <div class="d-flex flex-column justify-content-center align-items-center w-100 font fs-11" style="border: 1px dashed #3370f5; opacity: 0.85;">
            <span class="material-symbols-outlined mt-20" style="color: rgb(179, 179, 179); font-size: 50px;" >cloud_upload</span>
            <span class="d-block w-100 text-center mt-10 mb-20"> Subí tu imagen acá</span>
        </div>
    </div>
    
    <span class="d-block w-100 font fs-11 mt-20" style="text-align: start;"> <b>Imagen subida</b> </span>

    <div class="d-flex flex-wrap justify-content-between align-items-center rectangule mt-30" >

        <img src="assets/drill.jpeg" alt="" style="width: 50px; height: auto;">

        <span class="font fs-10 pd-10">Taladro/atornillador </span>

        <span class="material-symbols-outlined">close</span>

    </div>


    <!-- <div class="d-flex justify-content-start mt-30">
        <div class="d-flex  justify-content-center align-items-center  font fs-11">
        </div>
    </div> -->



    <div class="d-flex d-flex justify-content-between rectangule mt-30" style="border-left: 4px solid #3370f5;">

        <span class="material-symbols-outlined" style="color: rgb(255, 170, 0);">info</span>
        <span class="font fs-10 pd-10">
            Revisá tu publicación, una vez creada solo se puede editar hasta las 9am
        </span>
    </div>




</div>