
<div #display></div>

<div class="d-flex flex-column justify-content-center align-items-center animate__animated animate__fadeIn w-100">

    
    <div class="d-flex justify-content-center w-97 mt-30 fs-11">
        <div class="d-flex flex-column justify-content-center align-items-center w-100 font fs-11" style="border: 1px dashed #3370f5; opacity: 0.85;">
            <span class="material-symbols-outlined mt-20" style="color: rgb(179, 179, 179); font-size: 50px;" >cloud_upload</span>
            <span class="d-block w-100 text-center mt-10 mb-20"> Subí tu imagen acá</span>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center rectangule mt-10 w-97" >

        <span class="material-symbols-outlined" style="color: rgb(255, 170, 0);">info</span>
        <span class="font fs-10 pd-10" style="text-align: start; color: rgb(182, 182, 182);">
            Solo se admiten imagenes en formato jpg, jpeg y png
        </span>
    </div>


    
    <span class="d-block w-100 font fs-11 mt-20" style="text-align: start;"> <b>Imagen subida</b> </span>

    <div class="d-flex  justify-content-between align-items-center rectangule mt-30 w-97" >

        <img src="assets/drill.jpg" alt="" style="width: 50px; height: auto;">

        <span class="font fs-10 pd-10"> Taladro atornillador skill, 2 baterias recargables 18v  </span>

        <span class="material-symbols-outlined">close</span>

    </div>
    
    <div class="d-flex justify-content-start align-items-center mt-30 w-97">
        <span class="font fs-11 " style="text-align: start;"> <b>Armá tu publicación</b> </span>
        <span class="font fs-10 toSelect" style="margin-left: 10px;" (click)="openDialog()">ver ejemplo</span>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center rectangule mt-20 w-97">

      <form [formGroup]="myForm" class="d-flex flex-column justify-content-start align-items-center pd-10 mt-10 w-100">   

        <mat-form-field appearance="outline" class="mt-10 font w-100">		
        <mat-label>Ingresá el título de la publicación</mat-label>
        <input matInput type="text" required formControlName="headline"  >
        </mat-form-field> 
        <mat-error *ngIf="validField ('headline')" class="font fs-10">Campo requerido</mat-error> 

        <mat-form-field appearance="outline" class="mt-10 font fs-10 w-100">		
        <mat-label>Precio de la oferta</mat-label>
        <input matInput type="text" required formControlName="price"  >
        </mat-form-field> 
        <mat-error *ngIf="validField ('price')"  class="font fs-10">Campo requerido</mat-error> 

        <mat-form-field appearance="outline" class="mt-10 font fs-10 w-100">		
        <mat-label>Precio anterior de referencia</mat-label>
        <input matInput type="text" formControlName="price"  >
        </mat-form-field> 

        <mat-form-field appearance="outline" class="mt-10 font fs-10 w-100">		
        <mat-label>Vencimiento (dia/mes/año)</mat-label>
        <input matInput type="text" formControlName="expirationDate"  >
        </mat-form-field> 

        <mat-form-field appearance="outline" class="mt-10 font fs-10 w-100 ">		
        <mat-label>podés agregar información adicional</mat-label>
        <input matInput type="text" formControlName="description"  >
        </mat-form-field> 

        
        <div class="d-flex justify-content-start align-items-center w-100 ">
            <span class="font fs-11 ">*Detallá los items de tu oferta </span> &nbsp; &nbsp;
            <button mat-fab color="accent" style="width: 40px; height: 40px;" aria-label="Example icon button with a delete icon" (click)="openDialogAddDescription()">
                <mat-icon>add</mat-icon>
              </button>
        </div>

        <div class="d-flex justify-content-start align-items-center w-100 mt-20 mb-30 ">
            <span class="font fs-11 ">*Esta oferta incluye delivery </span> &nbsp; &nbsp;
            <mat-slide-toggle class="" ></mat-slide-toggle> 
            
        </div>

    



        <!-- ofrece delivery? -->
    
      </form>

    </div>

    <div class="d-flex d-flex justify-content-between rectangule mt-30 mb-30" style="border-left: 4px solid #3370f5;">

        <span class="material-symbols-outlined" style="color: rgb(255, 170, 0);">info</span>
        <span class="font fs-10 pd-10">
            Revisá tu publicación, una vez creada solo se puede editar hasta las 9am
        </span>
    </div>




</div>