<span class="font" style="margin-left: 23px; font-size: 1.1em; font-weight: bold;"> Ver por Anunciantes </span> &nbsp;&nbsp;
<span class="font toSelect fs-9"> Ver todos  </span>

<div class="d-flex flex-wrap justify-content-between pd-25">

        <div class="d-flex clientFrame justify-content-between "  *ngFor="let slide of slides">
            
            <div class="d-flex justify-content-center align-items-center " style="width: 40%;" >
                <img [src]="slide.img" alt="" class="img-fluid" width="100%">
            </div>

            <div class="d-flex flex-column justify-content-center" style="width: 60%; padding-left: 10px;"  >
                <p class="d-block w-100 font" [ngStyle]="!phone ? {'font-size':'1.6em', 'padding-left':'10px'}:{'font-size':'1.2em'}" > {{ slide.title | uppercase }}</p>

                <div class="d-flex justify-content-start " >
                    <span class="material-icons " style="color: blue;">share_location</span>
                    <span class="font" [ngStyle]="!phone ? {'font-size':'1.2em'}:{'font-size':'0.9em'}"> &nbsp; {{ slide.address }} </span>
                </div>

                <div class="d-flex justify-content-start mt-2 " >
                    <span class="material-icons " style="color: blue;">phone</span>
                    <span class="font" [ngStyle]="!phone ? {'font-size':'1.2em'}:{'font-size':'0.9em'}"> &nbsp; {{ slide.phone }} </span>
                </div>
            </div>
        </div>
    
</div>