
<div class="pd-10 w-100" style="height: 100vh; position: relative; overflow-y: auto">

    <div class="d-flex flex-column justify-content-center align-items-center mt-10 w-100"  >
        <span class="material-symbols-outlined icons" style="font-size: 100px;">account_circle</span>
        <span class="font fs-12">Marcelo Griotti</span>
    </div>

    <!-- <div class="d-flex justify-content-start align-items-center mt-30 w-100" >

        <span class="material-symbols-outlined" style="color: blue;">home_pin</span> &nbsp;
        <span class="font fs-11">Italia 1820</span>
    </div> -->

    

    <div class="d-flex flex-column justify-content-start align-items-start mt-30 w-100" >


        <div style="border: 1px solid; width: 100%; margin-top: 50px;"></div>

        <h2 class="font mt-20" style=" margin-bottom: 30px;"> <b> Tus preferencias </b> </h2> 

        <div class="d-flex justify-content-between align-items-center rectangule" >
            <span class="font fs-11"> Recibir notificaciones </span> 
            <mat-slide-toggle  ></mat-slide-toggle> 
        </div>

        <div class="d-flex justify-content-between align-items-center rectangule mt-30" >
            <span class="font fs-11"> Recibir emails </span> 
            <mat-slide-toggle  ></mat-slide-toggle> 
        </div>
        <div class="d-flex justify-content-between align-items-center rectangule mt-30" >
            <span class="font fs-11"> SMS </span> 
            <mat-slide-toggle  ></mat-slide-toggle> 
        </div>

    </div>

    
  <div class="d-flex justify-content-center align-items-center mt-10 position-absolute" style="bottom: 0px;">
    <img src="assets/logo-sin-sombra.jpg" alt="" class="img-fluid">
  </div>

</div>
