
<app-starting-page *ngIf="!disabled"></app-starting-page>

  <div class="page-wrapper" *ngIf="disabled">

      <div class="content-wrapper">
      
          <div class="content">
            <router-outlet> </router-outlet> 
          </div>
          
          <div class="footer">
            <app-footer *ngIf="!(router.url === '/search' || router.url === '/auth/login' || router.url === '/auth/sign-up' || router.url === '/auth/mi-tienda' || router.url === '/auth/mi-tienda/mis-publicaciones' || router.url === '/auth/mi-tienda/publicaciones-activas' || router.url === '/auth/mi-tienda/mi-perfil')"> </app-footer>
          </div> 
          
        </div> 
    </div>
