
<div #display></div>

<mat-toolbar class="justify-content-between toolbar" style="background-color: #3370f5;">

    <div class="d-flex justify-content-start align-items-center">
        <div class="d-flex justify-content-start align-items-center w-100 ml-10" (click)="goBack()">
            <span class="material-symbols-outlined" style="color: white;">arrow_back_ios_new</span>
        </div>
        <span class="material-symbols-outlined fs-15" style="color: white; margin-left: 18px;" routerLink="/" >home</span>

    </div>


    <button 
        type="button"
        (click)="drawer.toggle()"
        mat-icon-button
        class="burger">
        <mat-icon style="color: white;">menu</mat-icon>
    </button>
    
</mat-toolbar>

<mat-drawer-container class="container" style="height: 100vh;"  >
    <mat-drawer #drawer  mode="over" position="end" style="width: 60%;">
       
       
<div class="d-flex flex-column align-items-start pd-10" style="background-color: #3370f5; height: 100vh;"  >


    <div class="d-flex justify-content-center" style="margin-top: 70px;" routerLink="/auth/mi-tienda/mis-publicaciones" (click)="drawer.toggle()">
      <span class="material-symbols-outlined icons">storefront</span>
      <span class="font fs-11 ml-15" style="color: white;"> Nueva publicación </span>
    </div>
  
    <div class="d-flex justify-content-center" style="margin-top: 20px;" routerLink="/auth/mi-tienda/publicaciones-activas" (click)="drawer.toggle()">
      <span class="material-symbols-outlined icons">local_offer</span>
      <span class="font fs-11 ml-15"> Publicaciones activas </span>
    </div>
  
    <div class="d-flex justify-content-center mt-20" routerLink="/auth/mi-tienda/mi-perfil"  (click)="drawer.toggle()">
      <span class="material-symbols-outlined icons">category</span>
      <span class="font fs-11 ml-15"> Mis datos </span>
    </div>

    <div class="d-flex justify-content-center mt-20" routerLink="/auth/mi-tienda/vouchers" (click)="drawer.toggle()">
        <span class="material-symbols-outlined icons">rocket_launch</span>
        <span class="font fs-11 ml-15"> Vouchers </span>
      </div>
    

    <div style="border: 0.1px solid white; width: 80%; margin-top: 50px;"></div>
  
    <div class="d-flex justify-content-center mt-20">
      <span class="material-symbols-outlined icons">logout</span>
      <span class="font fs-12 ml-15"> SALIR </span>
    </div>
  
 
  
  
  
  </div>
  
                
       
    </mat-drawer>
  
        <div class="d-flex flex-wrap justify-content-center align-items-center w-100" *ngIf="router.url === '/auth/mi-tienda' ">
            <img src="assets/logo-sombra-500.png"  class="img-fluid" style="width: 60%; margin-top: 100px;">
        </div>

        <router-outlet></router-outlet>
  
  </mat-drawer-container>
  