

    <div class="pd-10 rectangule" >

        <form [formGroup]="myForm" class="d-flex  justify-content-center align-items-center mb-20">   
    
            <mat-form-field appearance="outline" class="mt-10 font fs-10" style="width: 80%;">		
            <mat-label class="font fs-9">agregá un item</mat-label>
            <input matInput type="text" formControlName="item"  >
            </mat-form-field> 
            &nbsp;
    
    
            <button mat-fab color="accent" style="width: 40px; height: 40px;" aria-label="Example icon button with a delete icon" >
             <mat-icon class="material-symbols-outlined">arrow_upward</mat-icon>
            </button>
    
        </form>  
    </div>

