

<div #display></div>
<!-- phone -->
<div class="headerSearch animate__animated animate__fadeIn"  *ngIf="phone">

    <div class="d-flex justify-content-start align-items-center w-100 ml-10 mt-15" (click)="goBack()">
        <span class="material-icons "  style="color: white;">arrow_back_ios</span>
        <span class="font fs-15 ml-10"  style="color: white;"> {{ title }} </span>

    </div>

    <div class="d-flex justify-content-center mt-20">
        <div style="width: 90%; position: relative;">
            <input type="text" class="form-control font " [placeholder]="placeholder"   style="height: 50px;"    >
            <span class="material-icons" style="position: absolute; top: 30%; right: 9px; color: #48443c; opacity: 0.6; font-size: 2em;" >search</span>
        </div>
    </div>
</div>


<div class="d-flex flex-wrap justify-content-center pd-10 w-100 animate__animated animate__fadeIn">

    <div class="d-flex flex-column justify-content-center align-items-center " >
        
        <img [src]="sponsor.img" alt="" class="img-fluid mt-10" width="50%">

        <div class="d-flex flex-column justify-content-center clientFrame w-100" style="margin-top: 40px;" >
            <p class="d-block w-100 font" [ngStyle]="!phone ? {'font-size':'1.6em'}:{'font-size':'1.3em'}" > {{ sponsor.title | uppercase }}</p>

            <div class="d-flex justify-content-between" >
                <div class="d-flex justify-content-start" >
                    <span class="material-icons " style="color: blue;">share_location</span>
                    <span class="font" [ngStyle]="!phone ? {'font-size':'1.2em'}:{'font-size':'0.9em'}"> &nbsp; {{ sponsor.address }} </span>
                </div>

                <div class="d-flex justify-content-start" >
                    <span class="material-icons " style="color: blue;">phone</span>
                    <span class="font" [ngStyle]="!phone ? {'font-size':'1.2em'}:{'font-size':'0.9em'}"> &nbsp; {{ sponsor.phone }} </span>
                </div>
            </div>

            <div class="d-flex justify-content-start mt-20" >

                <a target="_blank"> 
                    <i class="fab fa-whatsapp" ></i>
                  </a>

                 <a target="_blank" title="Instagram" href="https://www.instagram.com/re.vi.mack_agro/?hl=es">
                    <i class="fab fa-instagram ml-15"></i>
                 </a>
 
                 <a target="_blank" title="Facebook" href="https://www.facebook.com/search/top?q=revimack%20agro">
                    <i class="fab fa-facebook-f ml-15"></i>
                 </a>
 
                 <a target="_blank" title="email" href="mailto:revimackventas@gmail.com">
                   <i class="fa fa-envelope ml-15"></i>
                 </a>
 
                <a target="_blank" title="gps" href="https://goo.gl/maps/4indGx9FR3M1qX5b6">
                 <i class="fas fa-map-marker-alt ml-15"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end flex-wrap w-100 pd-5 mt-20">
        <div class="d-flex justify-content-start align-items-center" style="border: 1px solid gainsboro; border-radius: 30px; padding: 10px; background-color: white; opacity: 0.7;" data-bs-toggle="offcanvas" data-bs-target="#filter" aria-controls="offcanvasRight">
            <span class="material-icons" style="color: #9468d2; font-size: 25px;">filter_list </span> &nbsp;
            <span class="d-block font fs-12  toSelect" > Filtros
            </span>
        </div>
     </div>

     <div class="d-flex flex-wrap justify-content-between w-100 mb-30 mt-30">

        <div class="card d-flex justify-content-center align-items-center " *ngFor="let slide of slides2">
            <img src="{{ slide.img }}" alt="" class="img-fluid">
            <div class="card-body">
                <p class="font" [ngStyle]="!phone ? {'font-size':'1.2em'} : {'font-size':'0.8em'} ">{{slide.name}}</p>
                <p class="font fs-8" style="color: rgb(189, 189, 189);">Ferreteria Viano</p>
                <p class="font fs-10" >$150.000</p>
            </div>

            <div class="d-flex justify-content-center align-items-center" style="border-radius: 50%; border: 1px solid rgb(214, 214, 214); height: 30px; width: 30px;  position: absolute; right:0px; top: 10px; background-color: rgb(242, 242, 242, 0.3);" (click)="favorite(sponsor)" >
                <span class="material-icons" style="color: blueviolet; transform: scale(0.75);" *ngIf="selectedFavorite" >favorite_border</span>
                <span class="material-icons" style="color: blueviolet; transform: scale(0.75);" *ngIf="!selectedFavorite">favorite</span>
            </div>

        </div>


     </div>


    
</div>

<div class="offcanvas offcanvas-end canvasWidth" tabindex="-1" id="filter" aria-labelledby="offcanvasRightLabel"  >
    <div class="offcanvas-header d-flex justify-content-end mt-20" style="padding-right: 30px;">
        <span class="material-symbols-outlined" style="font-size: 30px;" data-bs-dismiss="offcanvas" aria-label="Close">close</span>
    </div>
    <div class="offcanvas-body">
    <app-filter></app-filter>
    </div>
</div>


