


mat-label{
    font-family: 'poppins-light';
    font-size: 0.85em;
}



.fa-whatsapp{
    color: #3370f5;
    font-size: 35px;
}
.fa-whatsapp:hover{   
    color: blue;
}

.fa-instagram{
    color: #3370f5;
    font-size: 35px;
}
.fa-instagram:hover{
    color: blue;
}

.fa-facebook-f{
    color: #3370f5;
    font-size: 35px;

}
.fa-facebook-f:hover{
    color: #3370f5;
} 

.fa-envelope{
    color: #3370f5;
    font-size: 35px;

}
.fa-envelope:hover{
    color: #3370f5;
}

.fa-map-marker-alt{
    color: #3370f5;
    font-size: 35px;

}
.fa-map-marker-alt:hover{
    color: #3370f5;
}